{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'IMG/Logo'%}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Inicio</title>
</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    .buttons{
display: flex;
}
.buttons a{
text-decoration: none;
font-size: 25px;
background-color:darkslategrey;
color: white;
border-radius: 50%;
width: 35px;
line-height: 35px;
height: 35px;
text-align: center;
box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
transition: all .4s ease-in-out;
margin-left: 6px;
}
.buttons a:hover {
transform: scale(1.2);
}
.boton-login a{
text-decoration: none;
font-size: 40px;
background-color: whitesmoke;
color: black;
border: 1px solid black;
border-radius: 50%;
width: 50px;
line-height: 50px;
height: 50px;
text-align: center;
box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
transition: all .4s ease-in-out;
}
.boton-login a:hover {
transform: scale(1.2);
}
    
</style>
<body style="background-image:url(https://st2.depositphotos.com/1106005/8592/i/600/depositphotos_85929920-stock-photo-black-and-white-doggy-tile.jpg); max-height: max-content;"></body>
<div class="container-fluid video" style="justify-content: center;">
        <iframe width="500" height="250" src="https://www.youtube.com/embed/VigrgrBRlug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>   
</div>
        <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <img src="{%static 'img/perrito.jpg'%}" class="card-img-top" width="200px" height="200px">
                    <div class="card-body" style="background-color:khaki;">
                        <h3 class="card-title">Patitas al ataque</h3>
                        <p class="card-text">Un calido saludo, como empresa queremos ampliar nuestro terreno trayendo 
                            de forma virtual una tienda con utilidades para mascotas, correas, vestuarios,
                            juguetes y todo tipo de artefactos para el regalon de la casa o guardian de esta.
            
                            Este proyecto tiene como finalidad facilitar la busqueda y compra de toda variedad
                            para la comodidad del cliente.
                            
                            por eso ahora con formato online queremos brindarles el mejor servicio, las mas ricas
                            comidas para sus animales y lo mejor para ellos.                           
            </p>
                        <a href="Inicio.html" class="btn btn-outline-success" style="background-color: white;">Ingresar</a>
                    </div>
                </div>
            </div><!--cierre col-->
            <div class="col-md">
                <div class="card">
                    <img src="{% static 'IMGGal/mascolimp2.jpg'%}" class="card-img-top" width="200px" height="200px">
                    <div class="card-body" style="background-color: khaki;">
                        <h3 class="card-title">Mascolimp</h3>
                        <p>inspiracion de proyecto Pagina: Mascolimp.com
                            Nuestra tienda de mascotas es el lugar perfecto para aquellos amantes de los animales que buscan productos de alta calidad y un servicio excepcional. Nuestra visión es ser una tienda de mascotas influencer, líderes en tendencias y conocimiento en el cuidado de mascotas. Ofreceremos una amplia variedad de productos, desde alimentos y accesorios hasta juguetes y ropa para mascotas, todos seleccionados cuidadosamente para satisfacer las necesidades de nuestros clientes y sus mascotas.
            </p>
            <a href="https://mascolimp.cl/" class="btn btn-outline-success" target="_blank" style="background-color: white;">Ingresar</a>
                    </div>
                </div>
            </div><!--col-->
        </div><!--fin row-->   
    </div>
</body>
<script type="text/javascript">
    let ubicacionInicial = window.pageYOffset;
    window.onscroll = function () {
        let ubicacionPosterior = window.pageYOffset;
        if (ubicacionInicial >= ubicacionPosterior) {
            document.getElementById("barraNav").style.top = "0";
        }
        else {
            document.getElementById("barraNav").style.top = "-70px";
        }
        ubicacionInicial = ubicacionPosterior
    }
</script>
<footer >     
    <div class="row">   <!--creamos filas-->

        <div class="col-sm-4">           <!--creamos columnas-->
            <ul class="footer-menu-container"style="padding-left: 5px;">
                <p class="contact">Contáctanos<p>
                    <li class="menu-item">  +(56)986610328</li>
                    <li class="menu-item">  +(56)245553213</li>
                    <br>
                <p class="contact2">Otros medios</p>
                    <li class="menu-item">  ro.plaza@duocuc.cl</li>
                    <li class="menu-item">  aeonfullyo@gmail.com</li>
                    <div class="buttons" style="margin-top:7px">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </section>
            </ul>
        </div>

        <div class="col-sm-4">           <!--creamos columnas-->
            <ul class="footer-menu-container"style="padding-left: 5px;">
                <p class="contact">Información<p>
                    <li class="menu-item"> Políticas de despacho </li>
                    <li class="menu-item"> Como encontrarnos.</li>
                    <li class="menu-item"> Medios de Pago</li>           
            </ul>
        </div>

        <div class="col-sm-4">           <!--creamos columnas-->
            <ul class="footer-menu-container"style="padding-left: 5px;">
                <p class="contact">Otros<p>
                    <li class="menu-item">  Horarios de atencion</li>
                    <li class="menu-item">  Reclamos</li>
                    <li class="menu-item">  Productos</li>
            </ul>
        </div>
    </div> <!--cerramos row-->
    
</footer>
<div class="container-fluid" style="background-color: black; height: 35px; margin-left: 0%;" >     <p style="color: white;">Copyright © Todos los derechos reservados.</p> </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>          
</html>
{%endblock%}